<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093284278259-c4npuejm0julg032fldg102dsi8vreed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093284278259-c4npuejm0julg032fldg102dsi8vreed</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1093284278259-5kmhhuhti2ipohnucbm61bt8nb6om5oo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0WCsxocC7QUEMFqzhegeH51NgZqO-SlI</string>
	<key>GCM_SENDER_ID</key>
	<string>1093284278259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.apsy.hudu</string>
	<key>PROJECT_ID</key>
	<string>aps-hudu-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>aps-hudu-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093284278259:ios:a5744714963384f9e9ec86</string>
</dict>
</plist>